## This was the old namespace
## This makes everything that begins with alpha character available
##exportPattern("^[[:alpha:]]+")   

export(ei,
       ei.sim,
       eiread,
       bounds1,
       tomogRxC,
       tomogRxC3d)

import(mvtnorm)
import(msm)
import(tmvtnorm)
import(ellipse)
import(plotrix)
import(MASS)
import(ucminf)
import(cubature)
import(mnormt)
import(foreach)
import(eiPack)
import(rgl)
import(sp)

S3method(plot, ei)
S3method(summary, ei)
